@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
}

body {
  @apply font-poppins bg-primary;
}

body::-webkit-scrollbar {
  display: none; /* Untuk browser berbasis Webkit seperti Chrome, Safari, dll. */
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  :root {
    font-size: 14px;
  }
}

.rdrCalendarWrapper {
  border-radius: 10px !important;
}

.rdrDateDisplayWrapper {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
